<div class="tab-pane fade show active" id="show" role="tabpanel" aria-labelledby="show-tab">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let item = 0; item < items.length; item++ ) { %>
                            <tr>
                                <td><%= item + 1 %></td>
                                <td><%= items[item].title %></td>
                                <td> Rp. <%= items[item].price %></td>
                                <td><%= items[item].country %></td>
                                <td><%= items[item].city %></td>
                                <td>
                                    <form action="/admin/item/<%= items[item].id %>/delete?_method=DELETE" method="post">
                                        <a href="/admin/item/show-image/<%= items[item].id %>" class="btn btn-sm btn-circle btn-info"><i class="fa fa-image"></i></a>
                                        <a href="/admin/item/show-detail-item/<%= items[item].id %> " class="btn btn-sm btn-circle btn-success"><i class="fa fa-plus"></i></a>
                                        <a href="/admin/item/<%= items[item].id %>" class="btn btn-sm btn-warning btn-circle" > 
                                            <i class="fa fa-edit"></i> 
                                        </a>
                                        <button type="submit" class="btn btn-sm btn-circle btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>